Assistant.json
[{"id":"31d9b441.d330ec","type":"watson-conversation-v1","z":"ab6f9c8b.47efa","name":"My Bot - FIX","workspaceid":"","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api","timeout":"","optout-learning":false,"x":415,"y":495,"wires":[["cfebebfe.30fa18","47e53087.ec95c","ca4f20d7.67cf8"]]},{"id":"893b9bd9.0f7138","type":"watson-speech-to-text","z":"ab6f9c8b.47efa","name":"STT - FIX","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","band":"NarrowbandModel","bandhidden":"","password":"","payload-response":true,"streaming-mode":false,"streaming-mute":true,"discard-listening":false,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/speech-to-text/api","x":128.6904182434082,"y":510.1428537964821,"wires":[["733b99b4.ac5ab8"]]},{"id":"b725514a.a202b","type":"watson-text-to-speech","z":"ab6f9c8b.47efa","name":"TTS - FIX","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_AllisonVoice","voicehidden":"","format":"audio/wav","password":"","payload-response":true,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/text-to-speech/api","x":942.3413009643555,"y":376.46823984384537,"wires":[["9fbd9d12.af1de"]]},{"id":"c8fe5daf.381be","type":"change","z":"ab6f9c8b.47efa","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":980.7857284545898,"y":331.69046407938004,"wires":[["b725514a.a202b"]]},{"id":"9fbd9d12.af1de","type":"function","z":"ab6f9c8b.47efa","name":"Set header","func":"msg.headers={ 'Content-Type': 'audio/wav'};\nreturn msg;","outputs":1,"noerr":0,"x":952.7857284545898,"y":421.6904688477516,"wires":[["dc953a65.585c48","8e6be3ae.ced7c"]]},{"id":"dc953a65.585c48","type":"debug","z":"ab6f9c8b.47efa","name":"The response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1128.7856788635254,"y":402.0238028168678,"wires":[]},{"id":"adfc3b19.601848","type":"switch","z":"ab6f9c8b.47efa","name":"Check text","property":"payload","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":958.2857284545898,"y":287.023812353611,"wires":[["c8fe5daf.381be"],["8912f5ca.3aa4b8"]]},{"id":"8912f5ca.3aa4b8","type":"template","z":"ab6f9c8b.47efa","name":"Error","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<p>No 'text' variable found</p>","output":"str","x":1118.2856788635254,"y":280.0238180756569,"wires":[["dc953a65.585c48"]]},{"id":"dab187f5.ad7368","type":"microphone","z":"ab6f9c8b.47efa","name":"Microphone","x":138.26184463500977,"y":468.9761534333229,"wires":[["893b9bd9.0f7138"]]},{"id":"733b99b4.ac5ab8","type":"change","z":"ab6f9c8b.47efa","name":"","rules":[{"t":"set","p":"transcription","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":174.69035720825195,"y":557.6428270936012,"wires":[["b3e4c610.097808","31d9b441.d330ec"]]},{"id":"b3e4c610.097808","type":"debug","z":"ab6f9c8b.47efa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":141.6428337097168,"y":385.42854219675064,"wires":[]},{"id":"71e19063.bd50b","type":"comment","z":"ab6f9c8b.47efa","name":"Text To Speech","info":"This is the example of text to speech working with Watson","x":963.1190643310547,"y":239.19049936532974,"wires":[]},{"id":"30d63ae0.63e876","type":"comment","z":"ab6f9c8b.47efa","name":"Speech To Text","info":"This is the procedure for speech to text ","x":124.42847061157227,"y":427.9761820435524,"wires":[]},{"id":"c49e2607.1941e8","type":"http request","z":"ab6f9c8b.47efa","name":"Send Request","method":"GET","ret":"obj","url":"","tls":"","x":471.45234298706055,"y":595.1904373764992,"wires":[["f5526c02.5d2ae"]]},{"id":"7489c142.c826a","type":"debug","z":"ab6f9c8b.47efa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":666.7380867004395,"y":588.904671728611,"wires":[]},{"id":"380440eb.5cdf9","type":"inject","z":"ab6f9c8b.47efa","name":"post id","topic":"","payload":"33433","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":143.95233535766602,"y":657.1904430985451,"wires":[["fa4659d2.f4fa78"]]},{"id":"2dea84d0.79ffdc","type":"comment","z":"ab6f9c8b.47efa","name":"Weather API","info":"","x":129.7856788635254,"y":611.5238099694252,"wires":[]},{"id":"f5526c02.5d2ae","type":"function","z":"ab6f9c8b.47efa","name":"make it look pretty","func":"var input = msg.payload;\nvar output = \"The weather today seems to be \";\noutput+=input.weather[0].description+\" with a high of \"+input.main.temp_max+\" and the low of \"+input.main.temp_min;\n\nmsg.payload = output;\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":521.1904945373535,"y":679.357157766819,"wires":[["7489c142.c826a","adfc3b19.601848"]]},{"id":"bf9d7a2b.25ada8","type":"debug","z":"ab6f9c8b.47efa","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":272.78568267822266,"y":801.0238142609596,"wires":[]},{"id":"2224ca4f.f9a756","type":"e-mail","z":"ab6f9c8b.47efa","server":"smtp.gmail.com","port":"465","secure":true,"name":"NUMBER@GATEWAY.com","dname":"Send Mass Text - FIX","x":393.2856864929199,"y":1321.5238218903542,"wires":[]},{"id":"7ceed946.df0dc8","type":"inject","z":"ab6f9c8b.47efa","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":133.28568077087402,"y":1375.5238228440285,"wires":[["eef7b8dc.3f3008"]]},{"id":"eef7b8dc.3f3008","type":"function","z":"ab6f9c8b.47efa","name":"set emergency text","func":"msg.payload = \"This is an emergency text message. Something is happening\";\n\n\nreturn msg;","outputs":1,"noerr":0,"x":258.28568267822266,"y":1431.0238228440285,"wires":[["2224ca4f.f9a756"]]},{"id":"c8c1a952.8555a8","type":"inject","z":"ab6f9c8b.47efa","name":"","topic":"","payload":"send an emergency text to the group","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":400.6666851043701,"y":454.8571376800537,"wires":[["31d9b441.d330ec"]]},{"id":"cfebebfe.30fa18","type":"debug","z":"ab6f9c8b.47efa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":418.23810958862305,"y":411.07141876220703,"wires":[]},{"id":"47e53087.ec95c","type":"function","z":"ab6f9c8b.47efa","name":"Get intent","func":"output = msg.payload.intents[0].intent;\nquery = msg.payload.input.text;\nmsg.payload = output;\nmsg.topic = query;\n\nnode.error(output);\nnode.error(query);\n\nreturn msg;","outputs":1,"noerr":0,"x":745.3094825744629,"y":306.04760080575943,"wires":[["7a4786df.8a4958","9a0180f1.280b7"]]},{"id":"8e6be3ae.ced7c","type":"play audio","z":"ab6f9c8b.47efa","name":"","voice":"","x":951.7857284545898,"y":469.023812353611,"wires":[]},{"id":"ca4f20d7.67cf8","type":"change","z":"ab6f9c8b.47efa","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.output.text[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":417.500057220459,"y":533.9524222016335,"wires":[["adfc3b19.601848"]]},{"id":"9a0180f1.280b7","type":"switch","z":"ab6f9c8b.47efa","name":"Figure out what it is ","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"weather","vt":"str"},{"t":"eq","v":"read_email","vt":"str"},{"t":"eq","v":"send_email","vt":"str"},{"t":"eq","v":"twitter","vt":"str"},{"t":"eq","v":"flip","vt":"str"},{"t":"eq","v":"search","vt":"str"},{"t":"eq","v":"flashlight_On","vt":"str"},{"t":"eq","v":"flashlight_Off","vt":"str"},{"t":"eq","v":"translate","vt":"str"},{"t":"eq","v":"navigate","vt":"str"},{"t":"eq","v":"getip","vt":"str"},{"t":"eq","v":"joke","vt":"str"},{"t":"eq","v":"quote","vt":"str"},{"t":"eq","v":"bitcoin","vt":"str"},{"t":"eq","v":"phone","vt":"str"}],"checkall":"true","repair":false,"outputs":15,"x":687.9523658752441,"y":455.5238028168678,"wires":[["fa4659d2.f4fa78"],["f9f07af6.a9fb48"],["329d1130.d05bde"],["cc44c6d5.5055f8"],["1c3c8f52.ef27a1"],["3fe7be97.140fd2"],["6afa91dc.5d3f3"],["eda94c46.9dfbc"],["96490de2.cec11"],["c21c9227.74f14"],["2085d87f.eeb508"],["b5156042.d903b"],["737bba68.21fed4"],["66f775d9.70004c"],["eef7b8dc.3f3008"]]},{"id":"fa4659d2.f4fa78","type":"function","z":"ab6f9c8b.47efa","name":"set location - FIX","func":"msg.payload = \"ZIP GOES HERE\";\nvar sendurl = \"http://api.openweathermap.org/data/2.5/weather?zip=\"+msg.payload+\"&appid=API GOES HERE&units=imperial\";\nmsg.url = sendurl;\n\nreturn msg;","outputs":1,"noerr":0,"x":315.1071243286133,"y":643.8095188140869,"wires":[["c49e2607.1941e8"]]},{"id":"49aa03cf.ff92fc","type":"comment","z":"ab6f9c8b.47efa","name":"Read emails","info":"","x":120.78567886352539,"y":774.0238133072853,"wires":[]},{"id":"ecfa4af3.a4e808","type":"file","z":"ab6f9c8b.47efa","name":"","filename":"/home/pi/receivedemails.txt","appendNewline":true,"createDir":false,"overwriteFile":"true","x":541.7856864929199,"y":902.0238152146339,"wires":[]},{"id":"cb6b6056.9f43a","type":"function","z":"ab6f9c8b.47efa","name":"Get the newest email every 60 seconds","func":"node.error('Getting emails');\noutput = \"the latest email is a message from \"+msg.from+\" saying \"+msg.payload;\n\nmsg.payload = output;\nreturn msg;","outputs":1,"noerr":0,"x":222.7856788635254,"y":916.0238161683083,"wires":[["ecfa4af3.a4e808"]]},{"id":"ff0b90be.e3cec","type":"file in","z":"ab6f9c8b.47efa","name":"","filename":"/home/pi/receivedemails.txt","format":"utf8","chunk":false,"sendError":false,"x":557.7856864929199,"y":777.0238137841225,"wires":[["f064e245.52722"]]},{"id":"adc0df04.26a0d","type":"function","z":"ab6f9c8b.47efa","name":"","func":"msg.payload = \"/home/pi/receivedemails.txt\"\n\nreturn msg;","outputs":1,"noerr":0,"x":413.2856864929199,"y":829.5238142609596,"wires":[["ff0b90be.e3cec"]]},{"id":"4c20cd38.dc3bf4","type":"debug","z":"ab6f9c8b.47efa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":684.7856903076172,"y":725.023812353611,"wires":[]},{"id":"9a6f41fd.b41a4","type":"inject","z":"ab6f9c8b.47efa","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":262.2856864929199,"y":863.5238142609596,"wires":[["adc0df04.26a0d"]]},{"id":"f064e245.52722","type":"function","z":"ab6f9c8b.47efa","name":"Clean up ","func":"var output = msg.payload;\noutput = output.slice(0, -1);\nmsg.payload = output;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":695.2856903076172,"y":827.0238142609596,"wires":[["4c20cd38.dc3bf4","adfc3b19.601848"]]},{"id":"f9f07af6.a9fb48","type":"delay","z":"ab6f9c8b.47efa","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":342.2856864929199,"y":759.5238133072853,"wires":[["adc0df04.26a0d"]]},{"id":"12d1efe9.9836b","type":"e-mail","z":"ab6f9c8b.47efa","server":"smtp.gmail.com","port":"465","secure":true,"name":"","dname":"Send Mail - FIX","x":358.7856864929199,"y":1041.5238171219826,"wires":[]},{"id":"329d1130.d05bde","type":"function","z":"ab6f9c8b.47efa","name":"send test mail - FIX","func":"input = msg.payload;\nmsg.to = \"TO ADDRESS@gmail.com\";\nmsg.topic = \"SUBJECT\";\nmsg.payload = \"Message Goes HERE\";\n\nreturn msg;","outputs":1,"noerr":0,"x":163.7856788635254,"y":1049.023818075657,"wires":[["12d1efe9.9836b"]]},{"id":"50f89d94.3bf794","type":"comment","z":"ab6f9c8b.47efa","name":"Send Email","info":"","x":130.2856788635254,"y":1006.5238161683083,"wires":[]},{"id":"aaa2589a.e09fa8","type":"inject","z":"ab6f9c8b.47efa","name":"","topic":"","payload":"Hello group 4 this is a test","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":137.2856788635254,"y":1096.523818075657,"wires":[["329d1130.d05bde"]]},{"id":"6afa91dc.5d3f3","type":"function","z":"ab6f9c8b.47efa","name":"let there be light","func":"msg.payload = \"*,*,white\";\n\nreturn msg;","outputs":1,"noerr":0,"x":307.7856788635254,"y":1217.523818075657,"wires":[["cc16860d.fc27f8"]]},{"id":"cc16860d.fc27f8","type":"rpi-sensehat out","z":"ab6f9c8b.47efa","name":"","x":449.11900329589844,"y":1166.857178747654,"wires":[]},{"id":"bd39f46a.5b04b8","type":"inject","z":"ab6f9c8b.47efa","name":"turn on","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":119.78567886352539,"y":1217.523818075657,"wires":[["6afa91dc.5d3f3"]]},{"id":"c85d99a9.910d58","type":"inject","z":"ab6f9c8b.47efa","name":"turn off","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":117.78567886352539,"y":1261.523818075657,"wires":[["eda94c46.9dfbc"]]},{"id":"eda94c46.9dfbc","type":"function","z":"ab6f9c8b.47efa","name":"aaaaaand its gone","func":"msg.payload = \"*,*,off\";\nreturn msg;","outputs":1,"noerr":0,"x":321.7856788635254,"y":1255.523818075657,"wires":[["cc16860d.fc27f8"]]},{"id":"ebf1ba7e.491498","type":"e-mail in","z":"ab6f9c8b.47efa","name":"Get emails - FIX","protocol":"IMAP","server":"imap.gmail.com","useSSL":true,"port":"993","box":"INBOX","disposition":"Read","repeat":"60","x":133.7856788635254,"y":812.6904898285866,"wires":[["cb6b6056.9f43a","c498d169.ce61b","b43703de.1d84e"]]},{"id":"5d916eb4.7adca","type":"comment","z":"ab6f9c8b.47efa","name":"Flashlight","info":"","x":99.78567886352539,"y":1175.523818075657,"wires":[]},{"id":"c498d169.ce61b","type":"function","z":"ab6f9c8b.47efa","name":"Get text ready for twitter","func":"output = msg.payload;\nmsg.payload = output;\n\nreturn msg;","outputs":1,"noerr":0,"x":168.78568267822266,"y":955.5238161683083,"wires":[["9bd6525f.eab48"]]},{"id":"9bd6525f.eab48","type":"file","z":"ab6f9c8b.47efa","name":"","filename":"/home/pi/twitter.txt","appendNewline":true,"createDir":false,"overwriteFile":"true","x":510.2856864929199,"y":943.5238161683083,"wires":[]},{"id":"2327e2e7.534f6e","type":"comment","z":"ab6f9c8b.47efa","name":"Emergency text","info":"","x":125.78567886352539,"y":1331.5238218903542,"wires":[]},{"id":"cc44c6d5.5055f8","type":"function","z":"ab6f9c8b.47efa","name":"Set path","func":"msg.payload = \"/home/pi/twitter.txt\"\n\nreturn msg;","outputs":1,"noerr":0,"x":707.7856788635254,"y":1087.023863852024,"wires":[["f084735.be1399"]]},{"id":"7e0c3a87.c5cfe4","type":"comment","z":"ab6f9c8b.47efa","name":"Share on twitter","info":"","x":691.2142524719238,"y":998.1666613221169,"wires":[]},{"id":"f084735.be1399","type":"file in","z":"ab6f9c8b.47efa","name":"","filename":"/home/pi/twitter.txt","format":"utf8","chunk":false,"sendError":false,"x":744.7856941223145,"y":1133.690487921238,"wires":[["fd211adb.0dbb78","d7405627.3f5258"]]},{"id":"fd211adb.0dbb78","type":"twitter out","z":"ab6f9c8b.47efa","twitter":"","name":"Tweet - FIX","x":899.7856559753418,"y":1067.8571978211403,"wires":[]},{"id":"d7405627.3f5258","type":"debug","z":"ab6f9c8b.47efa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":864.2856597900391,"y":1010.0238600373268,"wires":[]},{"id":"80cf7144.326f1","type":"inject","z":"ab6f9c8b.47efa","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":695.7856788635254,"y":1037.023863852024,"wires":[["cc44c6d5.5055f8"]]},{"id":"b43703de.1d84e","type":"debug","z":"ab6f9c8b.47efa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":129.2856788635254,"y":717.523812353611,"wires":[]},{"id":"1c3c8f52.ef27a1","type":"function","z":"ab6f9c8b.47efa","name":"Heads or Tails","func":"var output = \"It is \";\noutput += (Math.floor(Math.random() * 2) == 0) ? 'Heads' : 'Tails';\nmsg.payload = output;\n\nreturn msg;","outputs":1,"noerr":0,"x":1148.5356330871582,"y":1119.940443098545,"wires":[["42e355c8.89a14c","adfc3b19.601848","5cf8f0a8.c9d88"]]},{"id":"42e355c8.89a14c","type":"debug","z":"ab6f9c8b.47efa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1245.28568649292,"y":1203.0237663388252,"wires":[]},{"id":"4c9f1ea4.02adc","type":"inject","z":"ab6f9c8b.47efa","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1130.2499237060547,"y":1158.2261293530464,"wires":[["1c3c8f52.ef27a1"]]},{"id":"5330838f.3ac0bc","type":"rpi-sensehat out","z":"ab6f9c8b.47efa","name":"","x":1302.7023124694824,"y":1250.8570793271065,"wires":[]},{"id":"5cf8f0a8.c9d88","type":"function","z":"ab6f9c8b.47efa","name":"Clean up ","func":"if (msg.payload == \"It is Heads\"){\n    msg.payload = \"Heads\";\n}\nelse{\n    msg.payload = \"Tails\";\n}\nmsg.speed = 4;\nreturn msg;","outputs":1,"noerr":0,"x":1292.28568649292,"y":1155.023765861988,"wires":[["5330838f.3ac0bc","adfc3b19.601848"]]},{"id":"266c753c.f7cb3a","type":"comment","z":"ab6f9c8b.47efa","name":"Heads or Tails","info":"","x":1142.9106330871582,"y":1082.9404428601265,"wires":[]},{"id":"79df95a7.35208c","type":"http request","z":"ab6f9c8b.47efa","name":"Send Request","method":"GET","ret":"obj","url":"","tls":"","x":887.6428108215332,"y":1227.4287157654762,"wires":[["f1939419.c73bd8"]]},{"id":"eb56a6e8.f5b678","type":"debug","z":"ab6f9c8b.47efa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":899.4047355651855,"y":1330.7858152985573,"wires":[]},{"id":"7a5bd02a.9abad","type":"inject","z":"ab6f9c8b.47efa","name":"post id","topic":"","payload":"what is today's date","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":698.5951805114746,"y":1321.6667509675026,"wires":[["3fe7be97.140fd2"]]},{"id":"7a00fa25.6c9294","type":"comment","z":"ab6f9c8b.47efa","name":"Wolfram API","info":"","x":697.1904106140137,"y":1226.0953412652016,"wires":[]},{"id":"f1939419.c73bd8","type":"function","z":"ab6f9c8b.47efa","name":"Make it pretty","func":"output = msg.payload.queryresult.pods[1].subpods[0].plaintext\nif (output == null){\n    msg.output = \"I could not find the answer to that\";\n}\nelse{\nmsg.payload = output;\n}\nreturn msg;","outputs":1,"noerr":0,"x":893.7142639160156,"y":1283.8575506806374,"wires":[["eb56a6e8.f5b678","adfc3b19.601848","910eed3a.3b69f"]]},{"id":"3fe7be97.140fd2","type":"function","z":"ab6f9c8b.47efa","name":"Fix Query - FIX","func":"var str = msg.topic;\n\nnode.error(str);\n\nif (str.indexOf('search for') >= 0){\nstr = str.replace(\"search for\", \"\");\n}\nelse if (str.indexOf('find') >= 0){\n    str=str.replace(\"find\",\"\");\n}\nstr = str.replace(/ /g, \"+\");\n//realstr = str.substr(1);\nrealstr = str;\n\nsendurl = \"https://api.wolframalpha.com/v2/query?input=\"+realstr+\"&format=plaintext&output=JSON&appid=API GOES HERE\";\nmsg.url = sendurl;\nmsg.payload = realstr;\n\nreturn msg;","outputs":1,"noerr":0,"x":716.7617797851562,"y":1274.1908426880836,"wires":[["4fb50fef.5ac58","79df95a7.35208c"]]},{"id":"4fb50fef.5ac58","type":"debug","z":"ab6f9c8b.47efa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":723.9285316467285,"y":1366.6193929314613,"wires":[]},{"id":"7a4786df.8a4958","type":"debug","z":"ab6f9c8b.47efa","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":738.2379913330078,"y":256.5714207291603,"wires":[]},{"id":"910eed3a.3b69f","type":"debug","z":"ab6f9c8b.47efa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1043.9523887634277,"y":1230.8571401238441,"wires":[]},{"id":"3bb47c26.184164","type":"watson-translator","z":"ab6f9c8b.47efa","name":"Translate - FIX","action":"translate","basemodel":"es-en","domain":"conversational","srclang":"en","destlang":"es","password":"","custom":"","domainhidden":"conversational","srclanghidden":"en","destlanghidden":"es","basemodelhidden":"","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":1032.976188659668,"y":866.7143304944038,"wires":[["af4721bb.9564e"]]},{"id":"96490de2.cec11","type":"function","z":"ab6f9c8b.47efa","name":"Fix Formatting","func":"msg.payload = \"hello how are you\";\nreturn msg;","outputs":1,"noerr":0,"x":1004.5833625793457,"y":826.238056242466,"wires":[["3bb47c26.184164"]]},{"id":"740b8d33.8cda14","type":"debug","z":"ab6f9c8b.47efa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1034.7619552612305,"y":960.8214278817177,"wires":[]},{"id":"a3198691.430418","type":"inject","z":"ab6f9c8b.47efa","name":"","topic":"","payload":"hello how are you ","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1032.0237159729004,"y":788.1428070664406,"wires":[["3bb47c26.184164"]]},{"id":"71acf894.2279c8","type":"comment","z":"ab6f9c8b.47efa","name":"Translate from US to ES","info":"","x":1023.9285011291504,"y":751.9523611664772,"wires":[]},{"id":"af4721bb.9564e","type":"function","z":"ab6f9c8b.47efa","name":"Get ready for TTS","func":"input = msg.payload;\nmsg.payload = input;\n\nreturn msg;","outputs":1,"noerr":0,"x":1026.7856101989746,"y":913.3808851838112,"wires":[["740b8d33.8cda14","adfc3b19.601848"]]},{"id":"1744a9b6.400a16","type":"google directions","z":"ab6f9c8b.47efa","name":"Get Direction - FIX","googleAPI":"","origin":"","destination":"","mode":"driving","waypoints":"","alternatives":"","avoid":"","language":"","units":"imperial","region":"","departure_time":"","arrival_time":"","transit_mode":"","transit_routing_preferences":"","x":1272.9285202026367,"y":863.738074362278,"wires":[["95d4bed.c36f24"]]},{"id":"cc08aac3.bb9868","type":"inject","z":"ab6f9c8b.47efa","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1254.0356941223145,"y":776.7738085389137,"wires":[["c21c9227.74f14"]]},{"id":"c21c9227.74f14","type":"function","z":"ab6f9c8b.47efa","name":"fix the input - FIX","func":"msg.origin = \"PLACE 1\";\nmsg.destination = \"PLACE 2\";\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1274.0356941223145,"y":824.523809492588,"wires":[["1744a9b6.400a16"]]},{"id":"8849e3cb.de32b","type":"debug","z":"ab6f9c8b.47efa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1258.0356979370117,"y":945.7738085389137,"wires":[]},{"id":"95d4bed.c36f24","type":"function","z":"ab6f9c8b.47efa","name":"extract info","func":"var distance = msg.payload.routes[0].legs[0].distance.text;\nvar duration = msg.payload.routes[0].legs[0].duration.text;\nvar stepbystep;\nvar i;\nvar length = msg.payload.routes[0].legs[0].steps.length;\nfor (i=0;i<length;i++){\n    var todo = msg.payload.routes[0].legs[0].steps[i].html_instructions;\n    var better = todo.replace(/(<div.*)/g,\"\");\n    var best = better.replace(/(<([^>]+)>)/g, \"\");\n    var time = msg.payload.routes[0].legs[0].steps[i].distance.text;\n    stepbystep += \"In \"+time+\" \"+best+\" then \";\n}\ntmp = stepbystep.slice(0, -5);\nfixed = tmp.replace('undefined', ''); \nvar output = \"This route is \"+distance+\" and it would take \"+duration+\" to get there\";\noutput += \" To get there \"+fixed;\noutput = output.replace('mi', 'miles');\nmsg.payload = output;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1261.2856979370117,"y":903.273809492588,"wires":[["8849e3cb.de32b","b725514a.a202b"]]},{"id":"48f09e73.a31e2","type":"comment","z":"ab6f9c8b.47efa","name":"Turn By Turn Navigation","info":"","x":1281.1606788635254,"y":735.5238028168678,"wires":[]},{"id":"236659d0.f9cca6","type":"inject","z":"ab6f9c8b.47efa","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1324.7856788635254,"y":308.5238028168678,"wires":[["2085d87f.eeb508"]]},{"id":"2085d87f.eeb508","type":"http request","z":"ab6f9c8b.47efa","name":"getip","method":"GET","ret":"obj","url":"http://ip-api.com/json","tls":"","x":1318.7856788635254,"y":358.5238028168678,"wires":[["8f5f5c1f.4e075"]]},{"id":"c34d6bee.54bb88","type":"debug","z":"ab6f9c8b.47efa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1363.7856788635254,"y":426.5238028168678,"wires":[]},{"id":"8f5f5c1f.4e075","type":"function","z":"ab6f9c8b.47efa","name":"make it pretty","func":"ip = msg.payload.query;\noutput = \"The ip address is \"+ip;\nmsg.payload = output;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1367.7856788635254,"y":392.5238028168678,"wires":[["c34d6bee.54bb88","adfc3b19.601848"]]},{"id":"761e449.43addbc","type":"comment","z":"ab6f9c8b.47efa","name":"get ip","info":"","x":1299.7856788635254,"y":268.5238028168678,"wires":[]},{"id":"6dfb43e8.c33dbc","type":"inject","z":"ab6f9c8b.47efa","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1532.7856788635254,"y":262.5238028168678,"wires":[["49ead9ab.301f48"]]},{"id":"49ead9ab.301f48","type":"http request","z":"ab6f9c8b.47efa","name":"get quote","method":"GET","ret":"txt","url":"https://ron-swanson-quotes.herokuapp.com/v2/quotes","tls":"","x":1540.7856788635254,"y":300.5238028168678,"wires":[["b511ef8b.cc7fd"]]},{"id":"4978e462.b5bd0c","type":"debug","z":"ab6f9c8b.47efa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1586.535701751709,"y":386.5238066315651,"wires":[]},{"id":"b511ef8b.cc7fd","type":"function","z":"ab6f9c8b.47efa","name":"clean up ","func":"output = msg.payload;\noutput = output.replace('[\"',\"\");\noutput = output.replace('\"]', \"\");\nmsg.payload = output;\nreturn msg;","outputs":1,"noerr":0,"x":1565.7856788635254,"y":340.5238028168678,"wires":[["4978e462.b5bd0c","4d0b5650.198c58"]]},{"id":"c05abc6e.23b12","type":"comment","z":"ab6f9c8b.47efa","name":"Get Ron Swanson Quote","info":"","x":1547.1189918518066,"y":221.52380472421646,"wires":[]},{"id":"92fb12f2.d7e87","type":"inject","z":"ab6f9c8b.47efa","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1582.7856788635254,"y":540.5238028168678,"wires":[["b5156042.d903b"]]},{"id":"b5156042.d903b","type":"http request","z":"ab6f9c8b.47efa","name":"get joke","method":"GET","ret":"obj","url":"https://icanhazdadjoke.com/slack","tls":"","x":1590.7856788635254,"y":578.5238028168678,"wires":[["c757d81b.d1e738"]]},{"id":"8627dcae.2f6a6","type":"debug","z":"ab6f9c8b.47efa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1636.7856788635254,"y":656.5238028168678,"wires":[]},{"id":"c757d81b.d1e738","type":"function","z":"ab6f9c8b.47efa","name":"make it pretty","func":"output = msg.payload.attachments[0].text\nmsg.payload = output;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1635.7856788635254,"y":618.5238028168678,"wires":[["8627dcae.2f6a6","adfc3b19.601848"]]},{"id":"37e7e037.da461","type":"comment","z":"ab6f9c8b.47efa","name":"Get Dad Jokes","info":"","x":1573.7856788635254,"y":504.5238028168678,"wires":[]},{"id":"bd624ca6.79458","type":"comment","z":"ab6f9c8b.47efa","name":"Get BTC price","info":"","x":1286.0356941223145,"y":513.5238085389137,"wires":[]},{"id":"f3f3c32f.8ef99","type":"inject","z":"ab6f9c8b.47efa","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1294.5356979370117,"y":551.273809492588,"wires":[["66f775d9.70004c"]]},{"id":"66f775d9.70004c","type":"http request","z":"ab6f9c8b.47efa","name":"Get price","method":"GET","ret":"obj","url":"https://api.coindesk.com/v1/bpi/currentprice/usd.json","tls":"","x":1291.7856979370117,"y":588.5238104462624,"wires":[["85326658.5615c8"]]},{"id":"85326658.5615c8","type":"function","z":"ab6f9c8b.47efa","name":"make it pretty","func":"price = msg.payload.bpi.USD.rate;\nprice = price.slice(0,-2);\noutput = \"The price of bitcoin is \"+price+\" US dollars\";\nmsg.payload = output;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1317.7856788635254,"y":620.5238028168678,"wires":[["804c6939.7bb298","adfc3b19.601848"]]},{"id":"804c6939.7bb298","type":"debug","z":"ab6f9c8b.47efa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1329.7856788635254,"y":656.5238028168678,"wires":[]},{"id":"648da52a.59f11c","type":"watson-text-to-speech","z":"ab6f9c8b.47efa","name":"TTS - FIX","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_MichaelVoice","voicehidden":"en-US_MichaelVoice","format":"audio/wav","password":"","payload-response":true,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/text-to-speech/api","x":1798.1189041137695,"y":369.190448820591,"wires":[["ae578507.23c308"]]},{"id":"892eaf3e.7573e","type":"change","z":"ab6f9c8b.47efa","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1836.563331604004,"y":324.41267305612564,"wires":[["648da52a.59f11c"]]},{"id":"ae578507.23c308","type":"function","z":"ab6f9c8b.47efa","name":"Set header","func":"msg.headers={ 'Content-Type': 'audio/wav'};\nreturn msg;","outputs":1,"noerr":0,"x":1808.563331604004,"y":414.4126778244972,"wires":[["d7d3a670.0f4928","8dbc4b3f.a67778"]]},{"id":"d7d3a670.0f4928","type":"debug","z":"ab6f9c8b.47efa","name":"The response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1984.5632820129395,"y":394.74601179361343,"wires":[]},{"id":"4d0b5650.198c58","type":"switch","z":"ab6f9c8b.47efa","name":"Check text","property":"payload","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1814.063331604004,"y":279.7460213303566,"wires":[["892eaf3e.7573e"],["eefc5f1a.a7d6a"]]},{"id":"eefc5f1a.a7d6a","type":"template","z":"ab6f9c8b.47efa","name":"Error","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<p>No 'text' variable found</p>","output":"str","x":1974.0632820129395,"y":272.7460270524025,"wires":[["d7d3a670.0f4928"]]},{"id":"df6c1b7d.3f22e8","type":"comment","z":"ab6f9c8b.47efa","name":"Text To Speech - GUY","info":"This is the example of text to speech working with Watson","x":1838.8966674804688,"y":231.91270834207535,"wires":[]},{"id":"8dbc4b3f.a67778","type":"play audio","z":"ab6f9c8b.47efa","name":"","voice":"","x":1807.563331604004,"y":461.7460213303566,"wires":[]},{"id":"14b65aee.c161c5","type":"inject","z":"ab6f9c8b.47efa","name":"Weather","topic":"","payload":"How is the weather today","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":126.2142562866211,"y":173.95236879587173,"wires":[["c5c5661.9227d98"]]},{"id":"9e759be9.ad73e8","type":"inject","z":"ab6f9c8b.47efa","name":"Read Mail","topic":"","payload":"Read my mail","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":127.642822265625,"y":208.23808056116104,"wires":[["c5c5661.9227d98"]]},{"id":"dfc14fd1.29e75","type":"inject","z":"ab6f9c8b.47efa","name":"Send Mail","topic":"","payload":"send an email","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":126.21424865722656,"y":245.3809385895729,"wires":[["c5c5661.9227d98"]]},{"id":"f8ff1995.923678","type":"inject","z":"ab6f9c8b.47efa","name":"lights on","topic":"","payload":"Turn the lights on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":127.642822265625,"y":282.5238009095192,"wires":[["c5c5661.9227d98"]]},{"id":"79be494a.88a9c8","type":"inject","z":"ab6f9c8b.47efa","name":"lights off","topic":"","payload":"turn the lights off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":126.21425247192383,"y":322.5238085389137,"wires":[["c5c5661.9227d98"]]},{"id":"1100c2e9.99ebcd","type":"inject","z":"ab6f9c8b.47efa","name":"mass text","topic":"","payload":"Send emergency text","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280.49997329711914,"y":172.5238009095192,"wires":[["c5c5661.9227d98"]]},{"id":"ac2fdb54.5e0f28","type":"inject","z":"ab6f9c8b.47efa","name":"twitter","topic":"","payload":"Share it on twitter","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":273.357120513916,"y":211.09523111581802,"wires":[["c5c5661.9227d98"]]},{"id":"f325d44a.26bb18","type":"inject","z":"ab6f9c8b.47efa","name":"wolfram","topic":"","payload":"find how old is planet earth","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":274.7856731414795,"y":249.66665941476822,"wires":[["c5c5661.9227d98"]]},{"id":"7aaf37aa.cefb08","type":"inject","z":"ab6f9c8b.47efa","name":"translate","topic":"","payload":"translate hello how are you to spanish","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":284.78568267822266,"y":285.3809443116188,"wires":[["c5c5661.9227d98"]]},{"id":"af8813ac.945b2","type":"inject","z":"ab6f9c8b.47efa","name":"navigate","topic":"","payload":"give me navigation from my house to fau","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":284.7856674194336,"y":322.52379900217056,"wires":[["c5c5661.9227d98"]]},{"id":"539e37b6.1a98d8","type":"inject","z":"ab6f9c8b.47efa","name":"ip","topic":"","payload":"what is my ip address","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":421.92853927612305,"y":169.66665560007095,"wires":[["c5c5661.9227d98"]]},{"id":"6915e96a.561f28","type":"inject","z":"ab6f9c8b.47efa","name":"joke","topic":"","payload":"tell a joke","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":421.9285316467285,"y":209.66665369272232,"wires":[["c5c5661.9227d98"]]},{"id":"e7a9b1da.fdef8","type":"inject","z":"ab6f9c8b.47efa","name":"btc","topic":"","payload":"what is the bitcoin price","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":421.9285545349121,"y":246.80951696634293,"wires":[["c5c5661.9227d98"]]},{"id":"254fd746.e700c8","type":"inject","z":"ab6f9c8b.47efa","name":"quote","topic":"","payload":"give me a quote","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":423.35711669921875,"y":283.95236498117447,"wires":[["c5c5661.9227d98"]]},{"id":"c5c5661.9227d98","type":"function","z":"ab6f9c8b.47efa","name":"Show","func":"\nnode.error(msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"x":419.7856903076172,"y":362.52378994226456,"wires":[["31d9b441.d330ec"]]},{"id":"eaeae5fb.46aaf8","type":"rpi-sensehat in","z":"ab6f9c8b.47efa","name":"","motion":true,"env":false,"stick":false,"x":583.0713844299316,"y":162.66665941476822,"wires":[["f98c2aa.c7759d8"]]},{"id":"b6169a9b.4c2618","type":"rpi-sensehat out","z":"ab6f9c8b.47efa","name":"","x":772.4999732971191,"y":153.52380281686783,"wires":[]},{"id":"602e8736.b1cdb8","type":"inject","z":"ab6f9c8b.47efa","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1856.2142502920967,"y":582.5238028168678,"wires":[["737bba68.21fed4"]]},{"id":"737bba68.21fed4","type":"http request","z":"ab6f9c8b.47efa","name":"get quote","method":"GET","ret":"txt","url":"http://quotes.rest/qod.json","tls":"","x":1871.9285360063823,"y":622.5238028168678,"wires":[["99951f1d.c83b4"]]},{"id":"99951f1d.c83b4","type":"function","z":"ab6f9c8b.47efa","name":"","func":"var obj = JSON.parse(msg.payload);\nfix = obj.contents.quotes[0].quote;\nmsg.payload = fix;\nreturn msg;","outputs":1,"noerr":0,"x":1876.9285360063823,"y":656.809517102582,"wires":[["36c62568.86af8a","adfc3b19.601848"]]},{"id":"36c62568.86af8a","type":"debug","z":"ab6f9c8b.47efa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1884.0713931492396,"y":693.9523742454392,"wires":[]},{"id":"bd68e3c5.59da1","type":"comment","z":"ab6f9c8b.47efa","name":"Inspirational Quote","info":"","x":1866.7856788635254,"y":542.5238028168678,"wires":[]},{"id":"f98c2aa.c7759d8","type":"function","z":"ab6f9c8b.47efa","name":"Maze","func":"// A Function to generate a new goal position\nfunction updateGoal() {\n do {\n goalX = Math.floor(Math.random()*7)+1;\n goalY = Math.floor(Math.random()*7)+1;\n } while(checkWall(goalX,goalY));\n \n flow.set('goalX',goalX);\n flow.set('goalY',goalY); \n}\n\n// Generate 'walls' - 10 randomly placed blocks\nfunction generateWalls() {\n walls = [];\n for (var i=0;i<10;i++) {\n var wx = 0;\n var wy = 0;\n do {\n wx = Math.floor(Math.random()*8);\n wy = Math.floor(Math.random()*8);\n } while(wx === x && wy === y);\n walls.push({x:wx,y:wy});\n }\n flow.set('walls',walls);\n}\n\n// Check whether a given position collides with any of the walls\nfunction checkWall(x,y) {\n for (var i=0;i<walls.length;i++) {\n if (walls[i].x === x && walls[i].y === y) {\n return true;\n }\n }\n return false;\n}\n\n// Retrieve the current player positions from local context\nvar x = context.get('x');\nvar y = context.get('y');\n\n// Retrieve the current goal position from flow context\nvar goalX = flow.get('goalX');\nvar goalY = flow.get('goalY');\n\n// Retrieve the current walls from flow context\nvar walls = flow.get('walls');\n\n// Generate new walls if needed\nif (!walls) {\n generateWalls();\n}\n\n// Generate a new goal if needed\nif (isNaN(goalX) || isNaN(goalY)) {\n updateGoal();\n}\n\n\nvar moved = false;\nvar ox = x;\nvar oy = y;\n\n// Initialise the player position\nif (isNaN(x) || isNaN(y)) {\n ox = 3;\n oy = 3;\n x = 3;\n y = 3;\n moved = true;\n} else {\n // Retrieve the current roll & pitch from the message\n // arriving from the SenseHAT\n var roll = msg.payload.orientation.roll;\n var pitch = msg.payload.orientation.pitch;\n\n // Move the player based on tilt, ensuring it stays\n // within the bounds of the screen\n var sensitivity = 7;\n if (roll > sensitivity && roll < 90) {\n y += 1;\n moved = true;\n if (y > 6) { y = 7; }\n } else if (roll < 360-sensitivity && roll > 270) {\n y -= 1;\n moved = true;\n if (y < 1) { y = 0; }\n }\n if (pitch > sensitivity && pitch < 90) {\n x -= 1;\n moved = true;\n if (x < 1) { x = 0; }\n } else if (pitch < 360-sensitivity && pitch > 270) {\n x += 1;\n moved = true;\n if (x > 6) { x = 7; }\n }\n // If the resultant position hits a wall, go back to\n // where it started\n if (checkWall(x,y)) {\n x = ox;\n y = oy;\n }\n}\n\n// Store the new player position\ncontext.set('x',x);\ncontext.set('y',y);\n\nif (moved) {\n // If the player is on the goal, generate a new set of\n // walls and goal position\n if (x === goalX && y === goalY) {\n generateWalls();\n updateGoal();\n // Blank the display\n msg.payload = \"*,*,off,\";\n } else {\n // Blank the old position of the player\n msg.payload = ox+\",\"+oy+\",off,\";\n }\n // Draw each of the walls\n for (var i =0;i<walls.length;i++) {\n msg.payload += walls[i].x+\",\"+walls[i].y+\",green,\";\n }\n // Draw the goal and player position\n msg.payload += goalX+\",\"+goalY+\",blue,\"+x+\",\"+y+\",red\";\n\n // Pass the message on to the SenseHAT Out node\n return msg;\n}\n\n// Nothing has moved so no need to update screen - return nothing\nreturn null;","outputs":"1","noerr":0,"x":642.7856788635254,"y":204.52380281686783,"wires":[["b6169a9b.4c2618"]]}]